.taplogo {
  font-kerning: normal;
}
.taplogo .big {
  font-size: 3em;
  letter-spacing: -2px;
}
.taplogo .medium {
  font-size: 1.75em;
}
.taplogo .black {
  color: black;
}
.taplogo .white {
  color: white;
}
.taplogo .part1 {
  font-family: 'Helvetica Neue Bold', Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}
.taplogo .part2 {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: 100;
  margin-left: 0.05em;
}
.taplogo .part2 .small {
  letter-spacing: 0.05em;
}
